header {
    background-color: #1252b3;
    padding: 7px;
    font-family: Helvetica;
    text-align: center;
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    text-align: center;
    padding: 40px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 5px 15px;
}

.main {
    margin: 20px;
    background-color: color, transparent inherit;
    margin: 10px;
}

.formulario input[type="number"],
.formulario input[type="text"],
.formulario input[type="date"]  {
    padding: 10px;
    border-radius: 2px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.formulario input[type="text"],
.formulario input[type="date"],
.formulario input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botones {
    margin-top: 20px;
    margin-top: 20px;
}

.botones button,
.botones input[type="button"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #30e12a;
    color: rgb(0, 0, 0);
    cursor: pointer;
    margin-right: 10px;
    margin: 1% 0;
}

.botones button:hover,
.botones input[type="button"]:hover {
    background-color: #559a41;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    text-align: center;
    padding: 50px;
}

th, td {
    text-align: left;
    padding: 10px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

* {
    box-sizing: border-box;
}


